<div class="body">
  <app-header></app-header>
  <mat-toolbar
    class="header"
    color="primary"
    fxLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    fxLayoutAligmnet="space-between center"
  >
    <div fxFlex>
      <!-- <button
       type="button"
       aria-label="Toggle sidenav"
       mat-icon-button
       (click)="drawer.toggle()"
     >
       <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
     </button>
     <span></span> -->
    </div>
    <div fxFlex>Portal de Aplicaciones</div>
    <div fxFlex>
      <!-- <img class="avatar" alt="avatar" src="assets/images/avatar/avatar.jpg"> -->
    </div>
  </mat-toolbar>
</div>
