.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.header {
  background-color: #ae271c;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  min-height: 72px;
  div {
    display: flex;
  }
  div:nth-child(1) {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 20%;
  }
  div:nth-child(2) {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 60%;
    justify-content: center;
    font-family: "Nunito", arial;
    font-size: 1.5em;
  }
  div:nth-child(3) {
    flex: 1 1 0%;
    box-sizing: border-box;
    justify-content: flex-end;
    .avatar {
      width: 40px;
      height: auto;
      margin-right: 1rem;
      margin-left: 1rem;
      border-radius: 50% !important;
    }
  }
}
