<div class="body">
  <br />
  <div
    class=""
    fxLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    fxLayoutAligmnet="space-between center"
  >
    <div fxFlex="20" fxFlex.gt-md="15%"></div>
    <div fxFlex="60" fxFlex.gt-md="70%" fxflexfill>
      <div
        fxLayout="row wrap"
        fxFlex="100"
        fxLayoutGap="28px grid"
        fxLayoutAlign="stretch"

      >
        <div fxFlex="50" fxFlex.gt-md="50" fxFlex.lt-lg="100" fxLayout="column" class="seccion-principal">
          <mat-card fxLayout="column">
            <div class="contenido" fxLayoutAlign="center stretch" fxFlex="88">
              <div fxFlex="100">
                <h2 class="titulo">Información de la Aplicación</h2>
                <div class="item" fxLayout="column">
                  <label fxFlex>Nombre:</label>
                  <input
                    class="form-control py-2"
                    type="text"
                    fxFlex
                    #searcher
                  />
                </div>
                <div class="item" fxLayout="column">
                  <label fxFlex>ID:</label>
                  <input
                    class="form-control py-2"
                    type="text"
                    fxFlex
                    #searcher
                  />
                </div>
                <div class="item" fxLayout="column">
                  <label fxFlex>Descripción:</label>
                  <input
                    class="form-control py-2"
                    type="text"
                    fxFlex
                    #searcher
                  />
                </div>
                <div class="item" fxLayout="column">
                  <label fxFlex>Url:</label>
                  <input
                    class="form-control py-2"
                    type="text"
                    fxFlex
                    #searcher
                  />
                </div>
                <div class="item" fxLayout="column">
                  <label fxFlex>Logo</label>
                  <div style="height: 150px; border: 1px solid #ced4da"></div>
                </div>
              </div>
            </div>

            <mat-card-actions fxFlex="12" fxLayoutAlign="flex-end stretch">
              <button mat-button>ACTUALIZAR</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div fxFlex="50" fxFlex.gt-md="50" fxFlex.lt-lg="100" fxLayout="column" class="seccion-principal">
          <mat-card>
            <div class="contenido" fxLayoutAlign="stretch">
              <div fxFlex="100">
                <h2 class="titulo">Información de la Entidad</h2>
                <div fxLayout="row">
                  <div fxFlex="60" fxFlex.gt-lg="60" fxFlex.lt-xl="100">
                    <div class="item" fxLayout="column">
                      <label fxFlex>RUC:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                    <div class="item" fxLayout="column">
                      <label fxFlex>Nombre:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                    <div class="item" fxLayout="column">
                      <label fxFlex>Dominio Autorizado:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                  </div>
                  <div fxFlex="40" fxLayoutAlign="center center" fxHide.lt-xl>
                    <img src="assets/images/ico_entidad.png" />
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="contenido" fxLayoutAlign="stretch">
              <div fxFlex="100">
                <h2 class="titulo">Información del desarrollador</h2>
                <div fxLayout="row">
                  <div fxFlex="60" fxFlex.gt-lg="60" fxFlex.lt-xl="100">
                    <div class="item" fxLayout="column">
                      <label fxFlex>Fecha:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                    <div class="item" fxLayout="column">
                      <label fxFlex>DNI:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                    <div class="item" fxLayout="column">
                      <label fxFlex>Nombres:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                    <div class="item" fxLayout="column">
                      <label fxFlex>Apellidos:</label>
                      <input
                        class="form-control py-2"
                        type="text"
                        fxFlex
                        #searcher
                      />
                    </div>
                  </div>
                  <div fxFlex="40" fxLayoutAlign="center center" fxHide.lt-xl>
                    <img src="assets/images/ico_info_creacion.png" />
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="100" fxLayout="column">
          <div fxFlex class="titulo-seccion">Servicios</div>
          <div fxFlex class="seccion-secundaria"    fxLayout="row wrap"
          fxFlex="100"
          fxLayoutGap="28px grid"
          fxLayoutAlign="stretch">

            <div
            fxFlex="33"
            fxFlex.xs="100"
            fxFlex.gt-md="33"
            fxFlex.lt-lg="50"
            fxFlex.lt-md="100"
            fxLayout="column"
            *ngFor="let item of listServices"
            class="servicios"
          >
            <mat-card (click)="(null)">
              <div
                class="contenido"
                fxLayoutAlign="stretch"
                fxLayout="column"
              >
                <div fxFlex="100" fxLayoutAlign="center">
                  <img src="assets/images/{{ item.logo }}" />
                </div>
                <div fxFlex="100" fxLayoutAlign="center">
                  <span class="titulo">{{ item.name }}</span>
                </div>
                <div fxFlex="100">
                  <span class="identificador"
                    ><span>{{ item.description }}</span></span
                  >
                </div>
              </div>
            </mat-card>
          </div>





          </div>
        </div>
      </div>
    </div>
    <div fxFlex="20" fxFlex.gt-md="15%"></div>
  </div>
</div>
