.sidenav-container {
  height: 100%;
  background-color: #fafdfb;
}

.sidenav {
  min-width: 250px;
  max-width: 250px;

  .mat-list-item {
    // width: calc(100% - 2px);
    width: 100% !important;
    background: #ffffff;
    border-radius: 0;
    padding: 0px;
    color: #868e96;
    height: 45px;
    line-height: 45px;
    font-family: "Nunito", arial;
  }
  .mat-list-item:hover {
    background: #d3efde;
    transition: all 300ms ease-in-out;
    border-radius: 0;
    color: #62B984;
  }
  .mat-toolbar {
    background: inherit;
    .logo {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 10px;
      margin-bottom: 0px;
      line-height: 60px;
      img {
        vertical-align: middle;
        width: 150px;
      }
    }
  }

  .mat-subheader.title {
    display: flex;
    width: calc(100% - 10px);
    background: #ffffff;
    border-radius: 0px 100px 100px 0px;
    padding: 0px 16px;
    color: #868e96;
    height: 35px;
    line-height: 45px;
    font-family: "Nunito", arial;
    margin-top: 15px;
  }


}

.mat-nav-list .mat-list-item a{
  display: block;
  width: 100% !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.header {
  background-color: #ae271c;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  min-height: 60px;
  div {
    display: flex;
    align-items: center;
  }
  div:nth-child(1) {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 20%;
  }
  div:nth-child(2) {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 60%;
    justify-content: center;
    font-family: "Nunito", arial;
    font-size: 1.5em;
  }
  div:nth-child(3) {
    flex: 1 1 0%;
    max-width: 20%;
    box-sizing: border-box;
    justify-content: flex-end;
    .avatar {
      width: 40px;
      height: auto;
      margin-right: 1rem;
      margin-left: 1rem;
      border-radius: 50% !important;
    }
  }
}

.active-list-item {
  color: #62B984 !important; /* Note: You could also use a custom theme */
}
